/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    text-transform: none !important;
    scroll-behavior: smooth;
}
header .uk-grid>*{
    padding: 10px;
}
.img__background{
    background-color: #0E1930;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.uk-button{
    border-radius: 10px;
}
.uk-button-default{
    color: #fff;
}

h1{
    color: #fff;
}
h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.pa-icon{
    width: 55px;
    height: 55px;
    margin: 25px auto;
    border: #000 solid 1px;
    border-radius: 50%;
}
.icon{
    background-color: #000;
    color: #fff;
    font-size: 35px;
    width: 100%;
    height: 100%;
    border: #fff solid 2px;
    border-radius: 50%;
    margin: auto;
}
.pa-x{
    border: #000 solid 3px;
    width: 65px;
    height: 65px;
}
.extra{
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 20px;
    background-color: #E0E0E0 !important;
    color: #000 !important;
}

.light{
    background-color: #fff;
    color: #000;
}
.dark{
    color: #fff !important;
}

.uk-card{
    text-align: center;
    border-radius: 10px;
}
.main__ .uk-grid{
    margin-right: 50px;
    margin-left: 50px;
}
.trans{
    transform: translateY(-50px);
}
.trans-l{
    transform: translateY(170px);
}
.trans-md{
    transform: translateY(-10px);
}

*+h3{
    margin-top: 0;
}

main .uk-input{
    border: 0;
    border-bottom: #000 solid 2px;
}

main .uk-textarea{
    border: 0;
    border-bottom: #000 solid 2px;
}

main a{
    font-size: 20px;
    color: #000;
}

footer a{
    display: block;
    color: #fff;
}

.uk-icon-button{
    background-color: #000;
    color: #fff;
}

.button__dark{
    background-color: #0E1930;
    color: #fff;
    padding: 4px 10px;
}
.hide{
    display: none;
}

.info p{
    font-size: 14px;
}
.info__stars{
    color: #2AAE37;
}
.main__handy .uk-card-body{
    padding: 30px;
}

.main__survice .uk-grid>* {
    padding: 0px;
}

.nav-response{
    min-width: 200px;
    list-style: none;
    padding: 10px;
}


.txt-small{
    font-size: 13px;
}
@media(max-width: 960px){
    .txt-small{
        font-size: 10px;
    }
}

.main__shops .uk-grid>*{
    padding: 0;
}

.main__handy .uk-grid>*{
    padding: 0;
}


@media(max-width: 768px){
    .img_card{
        width: 35%;
        height: 100px;
    }
    .btn__txt{
        font-size: 9px;
    }
}